@model IEnumerable <RankingProgram.Models.Ranking>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Encuesta de Lenguajes de Programación</h2>
<p>Resumen de Indice de Encuesta de Lenguaje de programación</p>
<a class="btn btn-primary btn-sm" href="#"><i class="bi bi-pencil-square"> Agregar Encuesta</i></a>
<hr />
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Posicion</th>
				<th>Lenguaje</th>
				<th>Puntos %</th>
				<th>Diferencia %</th>
			</tr>
		</thead>
		<tbody>
			@foreach (RankingProgram.Models.Ranking item in Model)
			{
				<tr>
					<td>@item.Posicion</td>
					<td>@item.LenguajeProgramacion</td>
					<td>@item.Puntos</td>
					<td>@item.Diferencia</td>
				</tr>
			}
		</tbody>
	</table>
</div>
